* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width:400px;
    height:200px;
}

.hero-container button {
    padding:5px 20px;
    border-radius: 5px;
    background-color: #3882F6;
    color:#F9FAF8;
}

.hero-text p, a{
    font-size: 18px;
    color: #e5e7eb;
}

.header-container {
    background-color: #1F2937;
    padding:10px 50px 50px;

    display:flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 50px;
}

.nav-bar h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.nav-bar {
    display:flex;
    justify-content: space-between;
    
}

.nav-links {
    display: flex;
    column-gap: 20px;
    
}

.hero-container {
    
    display: flex;
    justify-content: center;
    
    
}

.hero-text {
    width:400px;
    height:200px;  
}

.hero-text p{
    margin: 10px 0px;
}

.hero-text h1 {
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
}


/*Second Block Styleing*/
.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

.empty {
    width:125px;
    height:125px;
    border:3px solid #3882F6;
    border-radius: 10px;

}

.boxes {
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.card {
    width:125px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
   
}

.card-text {
    text-align: center  ;
}